@import '~antd/dist/antd.css';

.main{
  min-height: 100vh;
}
.site-layout-background{
  background-color: #ffffff;
  border-bottom: 1px solid #dedede;
}
.logo{
  height: 80px;
  background:url('./logo.svg') center center no-repeat;
}
.header{
  padding: 0 20px;
  color: #001529;
  text-align: left;
  background-color: #ffffff;
}
.header .trigger{
  font-size: 20px;
  line-height: 64px;
  float: left;
}
